---
---

@import "palettes";
@import "theme";
@import "mixins";

h2 {
  color: $blue-gray-800;
}

#rcorners1 {
  border-radius: 10px;
  background: $blue-800;
  padding: 5px;
  width: 45px;
  height: 35px;
}

ul {
  line-height:20%
{
