---
---

@import "palettes";
@import "theme";
@import "mixins";

.query .center {
  border-radius: 3px;
  margin: auto;
  width: 95%;
  border: 3px solid $gray-400;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.test {
  border-radius: 3px;
  margin: auto;
  width: 95%;
  border: 3px solid $gray-400;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.top_center {
  margin: 0;
  width: 100%;
  border: 5px solid $gray-400;
  padding: 10px;
  background-color: $gray-400
}

.query h2 {
  color: $blue-gray-800;
  font-size: 2em;
}

.query #rcorners1 {
  border-radius: 10px;
  background: $red-200;
  padding: 4px;
  width: 40px;
  height: 35px;
}

.query #rcorners2 {
  border-radius: 10px;
  background: $light-blue-200;
  padding: 4px;
  width: 92px;
  height: 35px;
}

.column-left {
  float: left;
  width: 33.333%;
}
.column-right {
  float: right;
  width: 33.333%;
}
.column-center {
  display: inline-block;
  width: 33.333%;
}

.both {
  border-radius: 3px;
  margin: auto;
  width: 95%;
  border: 3px solid $gray-400;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.both .column-1 {
  float: left;
  width: 50%;
}
.both .column-2 {
  float: left;
  width: 50%;
}

.query .break{
  margin: 0;
}

table.tableizer-table {
	font-size: 18px;
	border: 1px solid #CCC;
	font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.tableizer-table td {
	padding: 4px;
	margin: 3px;
	border: 1px solid #CCC;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}
.tableizer-table th {
  padding: 6px;
	margin: 5px;
	background-color: $light-blue-300;
	color: #FFF;
  font-size: 22px;
	font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.tableizer-table .sdl{
  background-color: $red-300;
}

.tableizer-table .sup{
  background-color: $light-green-300;
}

.search {
  width: 100%;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
