
<table>
  <thead><tr>
    <th>Column A</th>
    <th>Column B</th>
    </tr></thead>
  <tbody>
    <tr>
      <td>Cell A1</td>
      <td>Cell B1</td>
    </tr>
    <tr>
      <td>Cell A2</td>
      <td>Cell B2</td>
    </tr>
  </tbody>
</table>

<script type="text/javascript" src="http://r.office.microsoft.com/r/rlidExcelButton?v=1&kip=1"></script>

{% comment %}
{%- assign emptyarray = "" | split: "," -%}
{%- assign data = site.data[include.data] | default: site[include.data] | default: emptyarray -%}

{%- for item in data.SPA -%}
<div class='query'>
  {%- if forloop.index | modulo:3 == 1 -%}
  <div class="column-left">
  {%- elsif forloop.index | modulo:3 == 2 -%}
  <div class="column-center">
  {%- else -%}
  <div class="column-right">
  {%- endif -%}
    <div class='center'>
        <div class="top_center">
        <h2 style="text-align:center;margin-top:-15px;margin-bottom:-20px;"> {{item.query}} </h2>
        </div>

      {% comment %}<div class="column-1">{% endcomment %}
      <div class="column-1">
        <p id="rcorners1" style="margin-top:15px;text-align:center"> SDL </p>
        <ul>
          {%- for SDL in item.SDL -%}
          <li style="margin-top:-10px;margin-bottom:-5px;">{{SDL}}</li>
          {%- endfor -%}
        </ul>
      </div>
      {% comment %}</div>{% endcomment %}

      {% comment %}<div class="column-2">{% endcomment %}
      <div class="column-2">
        <p style="margin-top:15px;" id="rcorners2"> Suppressor </p>
        <ul>
          {%- for SUP in item.SUP -%}
          <li style="margin-top:-10px;margin-bottom:-5px;">{{SUP}}</li>
          {%- endfor -%}
        </ul>
      </div>
      {% comment %}</div>{% endcomment %}

      <div class="break">
      </div>

    </div>
  </div>
</div>
{%- endfor -%}
{% endcomment %}
