{%- assign emptyarray = "" | split: "," -%}
{%- assign data = site.data[include.data] | default: site[include.data] | default: emptyarray -%}

{%- for item in data.SPA -%}
{%- if item.type == 'SDL' -%}
<h2 style="text-align:left;margin-top:-20px;margin-bottom:-20px;"> {{item.query}} </h2>
<p> SDL </p>
<ul>
{%- for SDL in item.SDL -%}
<li>{{SDL}}</li>
{%- endfor -%}
</ul>
{%- endif -%}
{%- if item.type == 'suppressor' -%}
{%- for sup in item.SUP -%}

{%- endfor -%}
{%- endif -%}
{%- endfor -%}

{% comment %}
{%-
  include {{ component }}
  query=item.query
  SDL_gene=entry
-%}
{% endcomment %}
